@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-orbit {
    animation: orbit calc(var(--duration) * 1s) linear infinite;
  }

  .animate-meteor {
    animation: meteor 5s linear infinite;
  }

  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

@keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@layer base {
  * {
    @apply border-border;
    outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --border: 214.3 31.8% 91.4%;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --ring: 222.2 84% 4.9%;
}

.dark {
  --border: 216 34% 17%;
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --ring: 210 40% 98%;
}


